
// Git
// -------------------

// Used to color git status

.file.status          { color: @text-color; }
.file.status-added    { color: @text-color-success; }
.file.status-ignored  { color: @text-color-subtle; }
.file.status-modified { color: @text-color-warning; }
.file.status-removed  { color: @text-color-error; }
.file.status-renamed  { color: @text-color-info; }
